/* Create by Nancy 08/08/2020 */

body{
	background-color:#eeeeee;
}
/* container */
.container{
	width:100%;
	max-width:1260px;
	min-width:780px;
	margin:0 auto;
}
/* header */
header{
	width:100%;
	height:200px;
    background-image:url("../images/1111.jpg");	
    background-repeat:no-repeat;
	background-size:100%;
	 font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}
h1{
	text-align:center;
	color:#eeeeee;
	font-size:24pt;
	font-family:'Permanent Marker', cursive;
	font-style:italic;
}
/* nav */
nav{
    height:30px;
	background:#eeeeee;
	margin-top:5px;
	margin-bottom:5px;
	border-radius:20px;
	padding:0px;
	font-family:impact;
	font-size:20pt;
	border:1px solid black;
	float: right;
	position:relative;
	min-height: 60px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
nav ul{
	text-align:center;
}
nav ul li{
	display:inline;
	margin:30px;
	padding:6px;
}
nav a{
	color:gray;
	text-decoration:none;
}
nav a:hover{
	color:black;
	text-decoration:underline;
}
/* aside */
aside{
	height:80%;
	float:right;
	width:20%;
	text-align:center;
}
/* section */
section{
	width:80%;
	height:90px;
	float:left;
}
/* footer */
footer{
	background-color: #eeeeee;
	float: left;
	clear: none;
	min-height: 50px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 10px;
	}
/* images */
images{
	text-align:center;
}
h2{
	text-align:center;
}
h3{
	text-align:center;
	}
/* table */
table.center th, td {
    border: 1px solid black;
}
table.center td{
  color:white;
}

table.center{
 width:200px;
 border:0px;
 background-color:black;
 text-align:center;
 margin:auto;
 color:white;
  }
table{
	text-align:center;
}
table td{
  color:black;
 }
table, th, td {
    border: 1px solid black;
}
th{
 background-color:gray;
 color:black;
 }
 
table.image{
	border:0px;
     }
/* video */
video {
	text-align: center;
		margin: 0 auto;
		display: block;
		width: 500px;
	}
.social {
	border-collapse: collapse;
    background: #FFFFFF;
    background: -moz-linear-gradient(-45deg, #FFFFFF 0%, #777777 100%, #777777 100%);
    background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #777777 100%, #777777 100%);
    background: linear-gradient(135deg, #FFFFFF 0%, #777777 100%, #777777 100%);
    outline: 2px solid rgb(34, 34, 34);
    outline-offset: 0px;
	width:20%;
	margin-left:40%;
	margin-right:40%;

}
.icon{
	text-align:center;
	}
.howard {
	font-family: 'Indie Flower', cursive;
	color: #a1f0a3;
	
}
.center { margin: 0 auto; width: 400px; }

p::first-letter {
	font-size: 150%;
	color: #99ff99; 
	text-shadow: 2px 2px black;
}
	
	
	
	
